// Navigation Styles here

.header {
    display: flex;
    justify-content: space-between;
}

.top-name {
}

.navbar {
    display: flex;
    justify-content: flex-end;
  }

  .navbutton {
    .nav-buttons-styling();
  }